.quote {
  width: 300px;
  height: 300px;
  float: left;
  padding: 25px;
  &.h2 {
    height: 200px;
  }
  &.h3 {
    height: 250px;
  }
  &.h4 {
    height: 350px;
  }
  &.h5 {
    height: 400px;
  }
  /*
  &:nth-child(1) {
    background-image: url(https://farm9.staticflickr.com/8494/8346612726_d791722cc3_n.jpg);
    text-transform: lowercase;
    letter-spacing: -1px;
    color: #FFF;
  }
  &:nth-child(3) {
    background-image: url("https://farm2.staticflickr.com/1067/1445242384_52a4c9d2aa_n.jpg");
  }
  &:nth-child(3n) {
    //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: inset 0 0 0 1000px $color_ship_gray_50_approx;
    color: #FFF;
    blockquote {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 22px;
      letter-spacing: -1px;
  }
  }
  &:nth-child(2n+1) {
    box-shadow: inset 0 0 0 1000px $color_mine_shaft_50_approx;
  }
  &:nth-child(2n+2) {
    background-color: #FFF;
    color: $black;
  }
  &:nth-child(2n+3) {
    color: #FFF;
  }
  &:nth-child(4n+1) {
    box-shadow: inset 0 0 0 1000px $color_mirage_50_approx;
    background-color: $pink;
  }
  &:nth-child(7n+5) {
    background-color: $pink;
    background-image: radial-gradient($white, $pink);
  }
  &:nth-child(4n+4) {
    font-family: $font_2, $font_3;
    color: #FFF;
    background-color: $black;
  }
  */
  blockquote {
    margin: 0;
  }
  cite {
    font-size: 14px;
  }
}